html, body {
    height: 100%;
    background: rgb(40, 44, 52);
    color: #fff;
}

.description, .Usage, .contact, .QA {
    padding-left: 5rem;
}

.contact {
    padding-bottom: 10rem;
}

p, img {
    padding-left: 3rem;
}

h1 {
    text-align: center;
}